networks:
  public:
    external: true

volumes:
  database:

configs:
  lemmy-config:
    file: ./lemmy.hjson.tpl

services:
  lemmy:
    image: thesilkky/lemmy:0.18.1
    container_name: lemmy
    depends_on:
      - postgres
      - pictrs
    restart: always
    hostname: lemmy
    networks:
      - public
      - default
    configs:
      - source: lemmy-config
        target: /usr/local/etc/lemmy/lemmy.hjson.tpl
    environment:
      - LEMMY_HOSTNAME=${HOST}
      - LEMMY_DATABASE_URI=postgres://lemmy:${DATABASE_PASSWORD}@postgres:5432/lemmy
      - LEMMY_PICTRS_URL=http://pictrs:8080/
      - LEMMY_PICTRS_API_KEY=${PICTRS_API_KEY}
      - LEMMY_SMTP_SERVER=${SMTP_SERVER}
      - LEMMY_SMTP_LOGIN=${SMTP_LOGIN}
      - LEMMY_SMTP_PASSWORD=${SMTP_PASSWORD}
      - LEMMY_SMTP_FROM_ADDRESS=${SMTP_FROM_ADDRESS}
      - LEMMY_SMTP_TLS_TYPE=${SMTP_TLS_TYPE}
      - LEMMY_SETUP_ADMIN_USERNAME=${SETUP_ADMIN_USERNAME}
      - LEMMY_SETUP_ADMIN_PASSWORD=${SETUP_ADMIN_PASSWORD}
      - LEMMY_SETUP_ADMIN_EMAIL=${SETUP_ADMIN_EMAIL}
      - LEMMY_SETUP_SITE_NAME=${SETUP_SITE_NAME}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lemmy.rule=Host(`${HOST}`) && (PathRegexp(`^/(api|pictrs|feeds|nodeinfo|\\.well-known).*$$`) || !Method(`GET`) || !Method(`HEAD`))"
      - "traefik.http.routers.lemmy.entryPoints=websecure"
      - "traefik.http.routers.lemmy.tls.certResolver=le"
      - "traefik.http.routers.lemmy.service=lemmy"
      - "traefik.http.services.lemmy.loadbalancer.server.port=8536"

  lemmy-ui:
    image: thesilkky/lemmy-ui:0.18.1
    restart: always
    hostname: lemmy-ui
    networks:
      - public
      - default
    environment:
      - LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy:8536
      - LEMMY_UI_LEMMY_EXTERNAL_HOST=${HOST}
      - LEMMY_UI_HTTPS=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lemmy-ui.rule=Host(`${HOST}`)"
      - "traefik.http.routers.lemmy-ui.entryPoints=websecure"
      - "traefik.http.routers.lemmy-ui.tls.certResolver=le"
      - "traefik.http.routers.lemmy-ui.service=lemmy-ui"
      - "traefik.http.services.lemmy-ui.loadbalancer.server.port=1234"

  pictrs:
    image: thesilkky/pict-rs:0.4.0
    restart: always
    hostname: pictrs
    environment:
      - PICTRS__API_KEY=${PICTRS_API_KEY}
      - PICTRS__MEDIA__VIDEO_CODEC=vp9
      - PICTRS__MEDIA__GIF__MAX_WIDTH=256
      - PICTRS__MEDIA__GIF__MAX_HEIGHT=256
      - PICTRS__MEDIA__GIF__MAX_AREA=65536
      - PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=400

  postgres:
    image: postgres:15.3-alpine3.18
    restart: always
    hostname: postgres
    volumes:
      - database:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_DB=lemmy
      - POSTGRES_USER=lemmy
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
